back_zyxbot/.phpunit.cache
back_zyxbot/node_modules
back_zyxbot/public/build
back_zyxbot/public/hot
back_zyxbot/public/storage
back_zyxbot/storage/*.key
back_zyxbot/vendor
back_zyxbot/.env
back_zyxbot/.env.backup
back_zyxbot/.env.production
back_zyxbot/.phpunit.result.cache
back_zyxbot/Homestead.json
back_zyxbot/Homestead.yaml
back_zyxbot/auth.json
back_zyxbot/npm-debug.log
back_zyxbot/yarn-error.log
back_zyxbot/.fleet
back_zyxbot/.idea
back_zyxbot/.vscode

#----------------------------- front--------------------------------------------------
# Logs
front_zyxbot/logs
front_zyxbot/*.log
front_zyxbot/npm-debug.log*
front_zyxbot/yarn-debug.log*
front_zyxbot/yarn-error.log*
front_zyxbot/pnpm-debug.log*
front_zyxbot/lerna-debug.log*

front_zyxbot/node_modules
front_zyxbot/dist
front_zyxbot/dist-ssr
front_zyxbot/*.local

# Editor directories and files
front_zyxbot/.vscode/*
front_zyxbot/!.vscode/extensions.json
front_zyxbot/.idea
front_zyxbot/.DS_Store
front_zyxbot/*.suo
front_zyxbot/*.ntvs*
front_zyxbot/*.njsproj
front_zyxbot/*.sln
front_zyxbot/*.sw?


vendor/